In [2]:
# Import libs
import pandas as pd
import requests
import json

In [5]:
# Specify credentials
# Using https://polygon.io/ daily open/close endpoint here
root='https://api.polygon.io/v1/open-close/'
company=['AAPL', 'MSFT', 'TSLA', 'SBUX', 'GOOGL', 'HD', 'COKE', 'PEP', 'WEN', 'WMT']
date_range=pd.date_range(start=pd.Timestamp('2023-01-01').date(), end=pd.Timestamp.today().date(), freq='D')
slash='/'
quest_key='?&apiKey='

In [6]:
# Pull data in
prices_list=[]
for j in range(0, len(company)):
    for i in range(0, len(date_range)):
        url=root + company[j] + slash + str(date_range[i]).split(" ")[0] + quest_key + key
        response=requests.get(url)
        parsed=json.loads(response.text)
        prices_list.append(parsed)

In [7]:
# Create df
df_raw=pd.DataFrame(prices_list)
df_raw=df_raw[df_raw['status']!='NOT_FOUND']
df_raw.head(20)

,status,request_id,message,from,symbol,open,high,low,close,volume,afterHours,preMarket
2,OK,NaN,NaN,2023-01-03,AAPL,130.280,130.9000,124.17,125.07,112117471.0,125.00,130.28
3,OK,NaN,NaN,2023-01-04,AAPL,126.890,128.6557,125.08,126.36,89100633.0,126.65,125.90
4,OK,NaN,NaN,2023-01-05,AAPL,127.130,127.7700,124.76,125.02,80716808.0,125.25,127.00
5,OK,NaN,NaN,2023-01-06,AAPL,126.010,130.2900,124.89,129.62,87754715.0,129.26,125.52
8,OK,NaN,NaN,2023-01-09,AAPL,130.465,133.4100,129.89,130.15,70790813.0,129.85,129.60
9,OK,NaN,NaN,2023-01-10,AAPL,130.260,131.2636,128.12,130.73,63896155.0,130.97,130.02
10,OK,NaN,NaN,2023-01-11,AAPL,131.250,133.5100,130.46,133.49,69458949.0,133.49,130.95
11,OK,NaN,NaN,2023-01-12,AAPL,133.880,134.2600,131.44,133.41,71379648.0,133.12,134.00
12,OK,NaN,NaN,2023-01-13,AAPL,132.030,134.9200,131.66,134.76,57809719.0,134.55,133.43
16,OK,NaN,NaN,2023-01-17,AAPL,134.830,137.2900,134.13,135.94,63612627.0,135.50,134.53
17,OK,NaN,NaN,2023-01-18,AAPL,136.815,138.6100,135.03,135.21,69672800.0,134.44,136.28
18,OK,NaN,NaN,2023-01-19,AAPL,134.080,136.2500,133.77,135.27,58280413.0,135.55,134.52
19,OK,NaN,NaN,2023-01-20,AAPL,135.280,138.0200,134.22,137.87,80200655.0,138.10,135.60
22,OK,NaN,NaN,2023-01-23,AAPL,138.120,143.3150,137.90,141.11,81760313.0,141.11,138.50
23,OK,NaN,NaN,2023-01-24,AAPL,140.305,143.1600,140.30,142.53,66435142.0,141.82,141.21
24,OK,NaN,NaN,2023-01-25,AAPL,140.890,142.4300,138.81,141.86,65799349.0,142.06,141.93
25,OK,NaN,NaN,2023-01-26,AAPL,143.170,144.2500,141.90,143.96,54105068.0,143.69,142.90
26,OK,NaN,NaN,2023-01-27,AAPL,143.155,147.2300,143.08,145.93,70547743.0,145.90,143.48
29,OK,NaN,NaN,2023-01-30,AAPL,144.955,145.5500,142.85,143.00,64015274.0,143.00,145.54
30,OK,NaN,NaN,2023-01-31,AAPL,142.700,144.3400,142.28,144.29,65874459.0,143.80,142.67